.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &__overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: rgba(0,0,0,0.4);
        cursor: pointer;
    }

    &__content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: solid 1px black;
        display: flex;
        align-items: center;
        justify-content: center;

        &>* {
            position: relative;
            z-index: 1100;
        }
    }
}