.LayoutArea {
    border:1px solid red;
    display: grid;
    height: 100%;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6, 1fr);

    & > header, & > footer{
        grid-column: span 6;
    }
}